<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>myDMS :: simple document management system</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="manage documents, invoices with a index database">
        <meta name="author" content="Henrik Binggl">
        <link rel="shortcut icon" href="html5.ico">

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
        <link rel="stylesheet" href="bower_components/famfamfam-flags-sprite/src/flags-sprite.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
        <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.bootstrap3.css">
        <!-- endbuild -->

    </head>
    <body ng-app="mydmsApp" >
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="full-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">

                    <span class="glyphicon glyphicon-home"></span>
                    <span translate="global.menu.home">Home</span>

                </a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">


                    <li><a href="#/document/add" ><i class="fa fa-plus" ></i> <span translate="main.addDoc">Add document</span></a></li>
                    <li><a href="#/settings"><i class="fa fa-gears"></i> <span translate="settings.title">Settings</span></a></li>

                </ul>




                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown pointer" ng-controller="LanguageController as lang">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li active-menu="en">
                                <a href="#" ng-click="lang.changeLanguage(&apos;en&apos;)"><span class="flag-icon gb"></span>
                                    &nbsp;<span translate="global.language.en">English</span></a>
                            </li>
                            <li active-menu="de">
                                <a href="#" ng-click="lang.changeLanguage(&apos;de&apos;)"><span class="flag-icon at"></span>
                                    &nbsp;<span translate="global.language.de">German</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="" ng-controller="AccountController as account">
                       <a class="" title="{{ account.user.displayName}}
({{ account.user.email }})" aria-haspopup="true" aria-expanded="false" ng-click="account.logout()">
                            <span ng-cloak class="ng-cloak">
                                <span class="userProfile" style="background-image: url('{{ account.user.thumb }}')"></span>


                            </span>
                        </a>
                    </li>


                </ul>


            </div><!--/.nav-collapse -->
        </div>
    </div>


    <div class="full-container">

        <!-- content section -->
        <div ui-view></div>
        <!-- /content section -->

        <hr/>

        <footer>
            <small>myDMS application <i class="fa fa-html5"></i> implemented with <i class="fa fa-heart "></i> &amp; node &amp; mongodb</small>
        </footer>

    </div>


        <!-- build:js scripts/scripts.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.de.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>


        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/selectize/dist/js/standalone/selectize.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>

        <script src="scripts/index.js"></script>

        <script src="scripts/app/modules/infiniScroll.js"></script>
        <script src="scripts/app/modules/bootstrapSwitch.js"></script>

        <script src="scripts/app/app.js"></script>

        <script src="scripts/app/main/module.js"></script>
        <script src="scripts/app/main/controller.js"></script>
        <script src="scripts/app/main/services.js"></script>
        <script src="scripts/app/main/directives.js"></script>

        <script src="scripts/app/document/module.js"></script>
        <script src="scripts/app/document/controller.js"></script>

        <script src="scripts/app/settings/module.js"></script>
        <script src="scripts/app/settings/controller.js"></script>

        <!-- endbuild -->
</body>
</html>
