doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title 404: Page not found!
        
        link(href="#{basePath}bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        
        
        |<!--[if lt IE 9]>
        |<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        |<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        |<![endif]-->
        
    body(style="padding-top:40px;")
        .container
            .jumbotron
                h1 404: The page could not be found!
                h3 Requested page:
                p= url
                
        script(src="#{basePath}bower_components/jquery/jquery.js")
        script(src="#{basePath}bower_components/bootstrap/dist/js/bootstrap.js")
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->