doctype html
html(lang="en")
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Authentication required!
        
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        
        
        |<!--[if lt IE 9]>
        |<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        |<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        |<![endif]-->
        
    body
      .container
        .row(style="padding-bottom: 40px; text-align:center;")
          .col-md-3
          .col-md-6
            h1 Authentication is required! 
          .col-md-3
          

        .row(style="padding-top:20px;")
          .col-md-3
          .col-md-6(style="text-align:center;")
            blockquote You are forwarded to the authorization system!
          .col-md-3
          
        .row(style="padding-top:30px;")
          .col-md-4
          .col-md-4
            a.btn.btn-success.btn-lg.btn-block(href="#{loginUrl}") 
              b Go to Login
          .col-md-4
    
                
    script(src="//code.jquery.com/jquery-2.2.0.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    <!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->