
<div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="panel panel-primary">
          <div class="panel-heading" translate="main.searchheader">Panel heading without title</div>
          <div class="panel-body">
            
           <form class="form-inline" role="form" id="filterForm">
              <div class="form-group">  
                <input type="text" class="form-control datepicker" id="daterangeFrom" placeholder="Date from" data-provide="datepicker" ng-model="search.dateFrom" ng-change="doSearch()">
              </div>
              <div class="form-group">
                <input type="text" class="form-control datepicker" id="daterangeTo" placeholder="Date to" data-provide="datepicker" ng-model="search.dateTo" ng-change="doSearch()">  
              </div>
              <div class="form-group" >
                  <select class="form-control" id="senders" ng-options="sender.name for sender in senders" ng-model="search.sender" ng-change="doSearch()">
                      <option value="" translate="main.selectsender">Select a sender</option>
                  </select>
              </div>
              <div class="form-group" >
                  <select class="form-control" id="tags" ng-options="tag.name for tag in tags" ng-model="search.tag" ng-change="doSearch()">
                      <option value="" translate="main.selecttag">Select a tag</option>
                  </select>
              </div>
              <div class="form-group" >
                <input type="text" class="form-control" placeholder="Search" id="search" ng-model="search.term" ng-change="doSearch()">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success btn-sm" ng-click="doSearch()">
                  <span class="glyphicon glyphicon-search"></span>
                  <span translate="main.search">Search</span>
                </button>
              </div>
           
            </form>

          </div>
        </div>
    
        <div class="row">
          <div class="col-md-12">

              <!-- infinite scroll plugin area -->
              <div ng-cloak infini-scroll="moreResults" scroll-threshold="50" id="documentContainer">
                <div class="document" ng-repeat="doc in documents">

                  
                  <div class="card">
                      <div class="card-image adobe">
                          <h2 ng-click="editDocument(doc._id)" id="{{ doc._id }}" title="{{ doc.fileName }}"><i class="fa fa-edit"></i> {{ doc.title }}</h2>
                      </div>
                      <p>

                          <span ng-repeat="sender in doc.senders" >
                            <span class="label label-info"><i class="fa fa-truck"></i> {{ sender.name }}</span>
                          </span>

                          <span ng-repeat="tag in doc.tags" >
                            <span class="label label-primary"><i class="fa fa-tag"></i> {{ tag.name }}</span>
                          </span>

                      </p>
                     
                      <div class="document-footer">
                        <div class="pull-left">
                          <span ng-if="doc.amount > 0" class="amount label label-danger" >
                            <i class="fa fa-euro"></i> <strong>{{ doc.amount }}</strong>
                          </span>
                        </div>
                        <div class="pull-right">
                          <i class="fa fa-cloud-download"></i> <a href="/api/1.0/document/download/{{ doc._id }}" id="{{ doc._id }}">download</a>
                        </div>
                        <div style="height:30px"></div>
                        <div class="pull-left document-info">
                          <span  class="document-meta">c</span>: {{ doc.created | date : 'dd.MM.yyyy' }}
                        </div>
                        <div class="pull-right document-info">
                          <span class="document-meta">m</span>: {{ doc.modified | date : 'dd.MM.yyyy' }}
                        </div>

                      </div>
                     
                  </div>

                </div>
              
              </div>
              <span ng-show="loading" id="loading" class="ng-hide" translate="main.loading">Loading ...</span>
              <!-- end of infinte scroll plugin -->

          </div>
      </div>

    </div>

</div><!--/row-->
