<div class="row" ng-cloak>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<h3 ng-if="document.id === -1" translate="document.new">Create a new document</h3>
		<h3 ng-if="document.id !== -1" translate="document.edit">Edit the document</h3>

		
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8">
		<form role="form">
		  <div class="form-group">
		    <label for="title" translate="document.title">Title</label>
		    <input type="text" class="form-control" id="titel" placeholder="Titel">
		  </div>
		  
		  <div class="form-group">
		    <label for="exampleInputFile">File input</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Example block-level help text here.</p>
		  </div>

		  <div class="form-group">
		    <label for="amount" translate="document.amount">amount</label>		    
		    <input type="text" class="form-control" id="amount" placeholder="0,0" style="width:100px">
		  </div>
		  
		  
		</form>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-4">
		<form role="form">
			<div class="form-group">
				<label for="senders" translate="document.senders">Senders</label>
		   		
				<div style="margin-bottom: 20px;" ng-if="selectedSender.originalObject">
					<a class="label label-info label-big label-tag" href="#" id="{{ selectedSender.originalObject._id }}"> <i class="fa fa-tag"></i> {{ selectedSender.originalObject.name }}</a>
				</div>


					<angucomplete-alt id="senderSelector"
		              placeholder="Search senders"
		              pause="400"
		              selected-object="selectedSender"
		              remote-url="/api/1.0/senders/?q="
		              title-field="name"
		        	  input-class="form-control"
		        	  clear-selected="true"/>
	        	
			</div>



			

			<div class="form-group">
				<label for="tags" translate="document.tags">Tags</label>

				<div style="margin-bottom: 20px;">
					<span ng-repeat="tag in document.tags">
						<a class="label label-primary label-big label-tag" href="#" id="{{ tag._id }}"> <i class="fa fa-tag"></i> {{ tag.name }}</a>
					</span>
				</div>
		   		
				<angucomplete-alt id="tagSelector"
	              placeholder="Search tags"
	              pause="400"
	              selected-object="selectedTag"
	              remote-url="/api/1.0/tags/?q="
	              title-field="name"
	        	  input-class="form-control"
	        	  clear-selected="true"/>

			</div>
			
			

		</form>
	</div>
</div>

<div class="row">
	

	<div class="col-xs-12 col-sm-12 col-md-12 ">
		<div class="pull-left">
		<button type="button" class="btn btn-primary btn-lg" translate="global.cancel" id="btnCancel" ng-click="cancel('/')">Cancel</button>
		</div>
		<div class="pull-right">
		<button type="button" class="btn btn-success btn-lg" translate="global.save" id="btnSave">Save</button>
		</div>
	</div>
</div>