
<div class="row" ng-cloak>
    <div class="col-xs-12 col-sm-6 col-md-8">
        
        <form class="form-inline" role="form" id="filterForm">
            <div class="form-group col-md-2">
                <div class="input-group"  >
                    <label class="sr-only" for="daterangeFrom">Date from</label>
                    <input type="text" class="form-control datepicker" id="daterangeFrom" placeholder="Date from" data-provide="datepicker">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>

            </div>
            <div class="form-group col-md-2">
                <div class="input-group">
                    <label class="sr-only" for="daterangeTo">Date to</label>
                    <input type="text" class="form-control datepicker" id="daterangeTo" placeholder="Date to" data-provide="datepicker">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
            <div class="form-group" >
              <div>
                  <label class="sr-only" for="senders">Senders</label>
                  <select class="form-control" id="senders">
                      <option value="">Select a sender</option>
                  </select>
                </div>
            </div>
			<div class="form-group" >
              <div>
				<label class="sr-only" for="search">Seach</label>
				<input type="text" class="form-control" placeholder="Search" id="search" ng-model="search.term">
				<button type="button" class="btn btn-success btn-sm" ng-click="search()">
	                <span class="glyphicon glyphicon-search"></span>
	                <span translate="main.search">Search</span>
	            </button>
              </div>
            </div>
           
        </form>

        <hr>
        
        <div class="row">
          <div class="col-md-12">

              <div class="document" ng-repeat="doc in documents">

                <div class="inner">

                 

                  <div class="header document-entry">
                    
                    <a class="label label-warning label-huge" href="#/document/{{ doc._id }}" id="{{ doc._id }}" title="{{ doc.fileName }}"> 
                    <i class="fa fa-file-pdf-o"></i>
                    </a>

                    <div class="documnet-info">
                      <span translate="">m</span>: <span class="bold">{{ doc.modified | date : 'dd.MM.yyyy' }}</span>
                      &nbsp;
                       <span ng-if="doc.amount > 0" class="amount" >
                        (&euro; {{ doc.amount }})
                      </span>
                    </div>

                   
                    
                  </div>

                  <div class="document-name">
                    <a href="#/document/{{ doc._id }}">{{ doc.title }}</a>
                  </div>

                  <div class="masterdata">
                    <div >
                      <span ng-repeat="sender in doc.senders" >
                        <span class="label label-info"><i class="fa fa-truck"></i> {{ sender.name }}</span>
                        
                      </span>
                    </div>

                    <div >
                      <span ng-repeat="tag in doc.tags" >
                        <span class="label label-primary"><i class="fa fa-tag"></i> {{ tag.name }}</span>
                        
                      </span>
                    </div>

                  </div>

                </div>

              </div>

          </div>
      </div>

    </div>

    <div class="col-xs-6 col-md-4" id="sidebar" role="navigation">
        
          <div class="tag" ng-repeat="tag in tags">
          
          <a href="#" class="label label-primary label-big">
            <i class="fa fa-tag"></i>
            {{ tag.name }}
          </a>
        
          </div>
        

    </div><!--/span-->

</div><!--/row-->