<div class="row" ng-cloak>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h2 translate="settings.title">Settings</h2>
    
    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{'active': activeTab == 'tabImport'}" ><a href="#" ng-click="showTab('tabImport')" >Import</a></li>
      <li ng-class="{'active': activeTab == 'tabExport'}" ><a href="#" ng-click="showTab('tabExport')">Export</a></li>
    </ul>

    <!-- Tab panes -->
    <div style="padding: 5px">
      <div  ng-if="activeTab == 'tabImport'">
        <h4 translate="settings.import">Import</h4>
        <hr/>

        <div class="panel panel-default">
          <div class="panel-heading" translate="settings.tags">Tags</div>
          <div class="panel-body">
            tags,tags,
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" translate="settings.senders">Senders</div>
          <div class="panel-body">
            senders, senders, 
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" translate="settings.documents">Documents</div>
          <div class="panel-body">
            docs, docs, 
          </div>
        </div>

      </div>
      <div  ng-if="activeTab == 'tabExport'">
        <h4 translate="settings.export">Export</h4>


      </div>
    </div>

  </div>
</div>

<div class="row">
  

  <div class="col-xs-12 col-sm-12 col-md-12 ">
    <div class="pull-left">
    <button type="button" class="btn btn-primary btn-lg" translate="global.cancel" id="btnCancel" ng-click="cancel('/')">Cancel</button>
    </div>
    <div class="pull-right">
    <button type="button" class="btn btn-success btn-lg" translate="global.save" id="btnSave" >Save</button>
    </div>
  </div>
</div>