<!DOCTYPE html>
<html lang="en" ng-app="myDMS">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="myDMS">
    <meta name="author" content="Henrik Binggl">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.png">-->

    <title>myDMS</title>

    <!-- Bootstrap core CSS -->
    <link href="/ui/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/ui/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/ui/lib/common/html5shiv.js"></script>
      <script src="/ui/lib/common/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {{=<% %>=}}

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">myDMS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href="#/view1">view1</a></li>
    		    <li><a href="#/view2">view2</a></li>

           
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">User</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="button" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-search"></span>
              Search
            </button>
          </form>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Tags</button>
          </p>

          main content

          <!-- angular content here -->
          <p ng-view>
          </p>


        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav" ng-controller="TagsCtrl">

            <ul class="unstyled">
              <li ng-repeat="tag in tags">
                <span class="">{{ tag.text }}</span>
              </li>
            </ul>

          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr/>

      <footer>
         <small>Angular seed app: v<span app-version></span> using templates: <% templates %></small>
      </footer>

    </div>


	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	-->
	<script src="./ui/lib/angular/angular.js"></script>
	<script src="./ui/js/app.js"></script>
	<script src="./ui/js/services.js"></script>
	<script src="./ui/js/controllers/main.js"></script>
  <script src="./ui/js/controllers/tags.js"></script>
	<script src="./ui/js/filters.js"></script>
	<script src="./ui/js/directives.js"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/ui/lib/jquery/jquery.min.js"></script>
    <script src="/ui/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
