<div class="col-sm-12 col-md-12 main" >

<div class="row" ng-cloak>
	<div class="col-xs-12 col-sm-12 col-md-12">

		<div class="page-header">
  			<small ng-if="vm.document._id === -1" translate="document.new">Create a new document</small>
			<small ng-if="vm.document._id !== -1"><span translate="document.edit">Edit the document</span>
				<h2> {{ vm.document.title }}</h2>
			</small>
		</div>

		<div class="alert alert-warning" ng-if="vm.formValidationError" style="margin-top: 10px">
  		<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
  		<strong translate="global.invalidForm">Form Error!</strong>
		</div>


		<div class="alert alert-danger" ng-if="vm.saveSuccess === false" style="margin-top: 10px">
  		<span class="fa fa-flash form-control-feedback"></span>
  		<strong translate="global.saveError">Form Error!</strong>
  		<p>{{ vm.saveErrorMessage }}</p>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8">
		<form role="form" name="form1" novalidate>

		  <div class="form-group has-feedback" ng-class="{'has-error': form1.title.$invalid && vm.formValidationError}" >
		    <label class="control-label" for="titel" translate="document.title">Title</label>
		    <input type="text" class="form-control" id="titel" name="title" placeholder="Titel" ng-model="vm.document.title" required>
		  </div>

		  <div class="row">
		  	<div class="col-md-6">

		  		<div class="form-group">
				    <label for="fileUpload" translate="document.upload.title">File input</label>

				    <div style="margin-top: 10px;margin-bottom: 20px;" ng-if="vm.document.fileName !== ''">
						<span class="label label-info label-big" ng-if="vm.document.fileName"> <i class="fa fa-file"></i> {{ vm.document.fileName  | limitTo:25 }} </span>
				    </div>

					<div id="fileUpload"
						ngf-drop
						ngf-change="vm.onFileSelect($files)"
						ngf-drag-over-class="upload-drop-area-drag"
		    			ng-show="vm.dropSupported"
		    			ngf-drop-available="vm.dropSupported=true"
		    			ng-model="vm.myModelObj"
		    			class="upload-drop-area"
		    			ng-class="{'upload-drop-area-invalid': (!vm.document.fileName || vm.document.fileName === '') && vm.formValidationError}">
		    			drop files here
		        	</div>
		        	<br/>
		        	<button class="btn btn-primary"
		        		ngf-select
		        		ng-model="myModelObj"
		        		ngf-change="vm.onFileSelect($files)"
		        		ngf-accept="'image/*,application/pdf'"
		        		ngf-multiple="false"><span translate="document.upload.title">Select File</span></button>

		        	<input type="hidden" name="fileName" id="fileName" ng-model="vm.document.fileName" required />

					<div class="alert alert-danger" ng-if="vm.uploadError" style="margin-top: 10px">
		      		<strong translate="document.upload.error">Upload error!</strong> {{ vm.uploadError }}
		    		</div>
		    		<p class="help-block" translate="document.upload.hint">Upload hint.</p>


				    <div ng-if="document.modified">
					    <span translate="">c</span>: <span class="badge">{{ vm.document.created | date : 'dd.MM.yyyy' }}</span>
			    		<span translate="">m</span>: <span class="badge">{{ vm.document.modified | date : 'dd.MM.yyyy' }}</span>
			    	</div>

				</div>

		  	</div>

		  	<div class="col-md-6">

		  		<div class="form-group has-feedback" ng-class="{'has-error': form1.amount.$invalid && vm.formValidationError}">
				    <label for="amount" class="control-label" translate="document.amount">amount</label>

				    <div class="input-group input-group-lg">
					  <span class="input-group-addon ">&euro;</span>
					  <input type="text" class="form-control" id="amount" name="amount" placeholder="0,0" style="width:100px" ng-model="vm.document.amount">
					</div>

				</div>

		  	</div>

		  </div>

		</form>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-4">
		<form role="form" name="form2" novalidate>

			<div class="form-group has-feedback" ng-class="{'has-error': form2.sender.$invalid && vm.formValidationError}">
				<label class="control-label" for="senders" translate="document.senders">Senders</label>

		   		<input type="hidden" name="sender" ng-model="vm.selectedSenders" required/>

				<input type="text" id="senders" selectize
					data-remote="/api/1.0/senders/?q="
					label="<span class='label label-info label-big label-tag' data-text={name}><i class='fa fa-truck'></i> {name}</span>"
					selected-object="vm.selectedSenders"
					/>

			</div>

			<div class="form-group has-feedback" ng-class="{'has-error': form2.tags.$invalid && vm.formValidationError}">
				<label class="control-label" for="tags" translate="document.tags">Tags</label>

				<input type="hidden" name="tags" ng-model="vm.selectedTags" required/>

				<input type="text" id="tags" selectize
					data-remote="/api/1.0/tags/?q="
					label="<span class='label label-primary label-big label-tag' data-text={name}><i class='fa fa-tag'></i> {name}</span>"
					selected-object="vm.selectedTags"
					/>

			</div>

		</form>
	</div>
</div>

<div class="row">


	<div class="col-xs-12 col-sm-12 col-md-12 ">
		<div class="pull-left">
		<button type="button" class="btn btn-primary" translate="global.cancel" id="btnCancel" ng-click="vm.cancel('/')">Cancel</button>
		<button type="button" class="btn btn-danger" translate="global.delete" id="btnDelete"  ng-if="vm.document._id !== -1" data-toggle="modal" data-target=".delete-confirmation" >Delete</button>

		</div>
		<div class="pull-right">
			
		<button type="button" class="btn btn-success" translate="global.save" id="btnSave" ng-click="vm.save(form1.$valid && form2.$valid)">Save</button>
		</div>
	</div>


	<div class="modal fade delete-confirmation" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel" translate="global.confirm">Confirm</h4>
	      </div>
	      <div class="modal-body">
	        <h3 translate="global.reallydelete">Really delete?</h3>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" ng-click="vm.delete()" translate="global.delete">Delete</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>

</div>