<!-- navigation sidebar -->
<div class="col-sm-3 col-md-2 sidebar" id="sidebar">

    <ul class="list-group" >
        <li class="list-group-item" ><h4 translate="main.search_title">Search:</h4></li>
    </ul>

    <div class="form-group searchfields" >
        <input type="text" class="form-control" placeholder="{{ 'main.search' | translate }}" id="search" ng-model="vm.search.term" ng-change="vm.doSearchWait()">
    </div>

    <div class="form-group searchfields">
        <select class="form-control" id="senders" ng-options="sender.name for sender in vm.senders" ng-model="vm.search.sender" ng-change="vm.doSearch()">
            <option value="" translate="main.selectsender">Select a sender</option>
        </select>
    </div>
    <div class="form-group searchfields">
        <select class="form-control" id="tags" ng-options="tag.name for tag in vm.tags" ng-model="vm.search.tag" ng-change="vm.doSearch()">
            <option value="" translate="main.selecttag">Select a tag</option>
        </select>
    </div>

    <div class="form-group searchfields">
        <input type="text" class="form-control datepicker" id="daterangeFrom" placeholder="Date from" data-provide="datepicker" ng-model="vm.search.dateFrom" ng-change="vm.doSearch()">
    </div>
    <div class="form-group searchfields">
        <input type="text" class="form-control datepicker" id="daterangeTo" placeholder="Date to" data-provide="datepicker" ng-model="vm.search.dateTo" ng-change="vm.doSearch()">
    </div>



</div>
<!-- /navigation sidebar -->

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >

    <div class="row" id="contentContainer">
      <div class="col-md-12" >

          <!-- infinite scroll plugin area -->
          <div ng-cloak infini-scroll="vm.moreResults" scroll-threshold="50" id="documentContainer1" >

              <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="doc in vm.documents">

                  <div class="price-badge">
                    <span ng-if="doc.amount && doc.amount != 0" class="amount label label-danger" >
                      <i class="fa fa-euro"></i> <strong>{{ doc.amount }}</strong>
                    </span>
                  </div>

                  <div class="modified-badge">
                    <span class="amount label label-default" title=" created: {{ doc.created | date : 'dd.MM.yyyy' }}, modified: {{ doc.modified | date : 'dd.MM.yyyy' }}">
                      <i class="fa fa-calendar"></i> <strong>{{ doc.modified | date : 'dd.MM.yyyy' }}</strong>
                    </span>
                  </div>


                  <div class="thumbnail thumbnail-card">
                      <div class="caption text-center">
                          <div class="heading">

                              <h2 ng-click="vm.editDocument(doc._id)" id="{{ doc._id }}" title="{{ doc.fileName }}"> {{ doc.title | limitTo:35 }} </h2>
                          </div>

                          <div class="tags_senders">

                              <span ng-repeat="sender in doc.senders" >
                                <span class="label label-info"><i class="fa fa-truck"></i> {{ sender.name | limitTo:15 }}</span>
                              </span>

                              <span ng-repeat="tag in doc.tags" >
                                <span class="label label-primary"><i class="fa fa-tag"></i> {{ tag.name  | limitTo:15 }}</span>
                              </span>

                          </div>

                          <div class="download-button">
                              <a href="/api/1.0/document/download/{{ doc._id }}" id="{{ doc._id }}" target="_blank"> <i class="fa fa-cloud-download download-icon"></i> </a>
                          </div>

                      </div>
                  </div>
              </div>

            </div>

          </div>
          <span ng-show="vm.loading" id="loading" class="ng-hide" translate="main.loading">Loading ...</span>
          <!-- end of infinte scroll plugin -->

      </div>
  </div>

</div>