body {
  min-height: 1000px;
  padding-top: 70px;
}


.full-container {
  padding: 0 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  max-width:100%;
}

ul.items
{
  text-align: center; 
  list-style-type: none;  
  width: 200px;
}

ul.items li
{
    /*float: left; */
    display: inline;   
}

.label-normal {
  font-weight: normal;  
  font-size: inhert;
}

.double-line {
  line-height: 2.5;
}

.clear { clear: both; }

.well-220 {
  min-width: 220px;
}


.bs-documents {
  padding-left: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  list-style: none;
  overflow: hidden;
}
.bs-documents li {
  float: left;
  width: 20%;
  height: 115px;
  padding: 10px;
  margin: 0 -1px -1px 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  border: 1px solid #ddd;
}
.bs-documents .document {
  display: block;
  margin: 5px 5px  10px;
  font-size: 24px;
}

.label-tag {
  font-size: 14pt;
  margin: 3px;
}

.tag-padding {
  margin-top: 20px;
}

.upload-drop-area {
  padding: 15px;
  border: 2px dashed #cccccc;
  width: 300px;
  font-weight: bold;
  font-style: italic;
  font-size: medium;
  text-align: center;
  color: #999999;
}

.upload-drop-area-invalid {
  color: #a94442;
  border: 2px dashed #a94442;
}

.upload-drop-area-drag {
  border: 2px dashed #428bca;
  color: #428bca;
}

.label-big {
  font-size: 14pt;
  margin: 3px;
}

.document {
  float: left;
  width: 20%;
  padding: 6px;
  height: 180px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.document .inner {
  height: 100%;
  
  margin: 0;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 4px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.document .inner .header {
  text-align: center;
  font-size: 12pt;
  
}

.document .inner .header .amount {
  text-align: center;
  font-size: 10pt;
  font-style: italic;
}

.document .inner .masterdata {
  text-align: left;
  font-size: 10pt;
  margin-bottom: 2px;
}

.document .inner .footer {
  padding-top: 5px;
  text-align: center;
  font-size: 8pt;
}

.bold {
  font-weight: bold;
}

.well {
  margin-bottom: 5px;
}
